
/* Global styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #4caf50;
}

a:hover {
    text-decoration: none;
    color: #45a049;
    transition: 0.5s;
}